Plugins>BL-15A1 XRD, "Load single PILATUS image...", Load_single_PILATUS_image
Plugins>BL-15A1 XRD, "Stitch PILATUS images...", Stitch_PILATUS_Images
Plugins>BL-15A1 XRD>Batch job, "Batch job 1: I0 normalization...", Batch_job_1__I0_normalization
Plugins>BL-15A1 XRD>Batch job, "Batch job 2: Stitch images...", Batch_job_2__Stitch_images
Plugins>BL-15A1 XRD>Batch job, "Batch job 3: Obtain total DS image...", Batch_job_3__Obtain_total_DS_image
Plugins>BL-15A1 XRD>Batch job, "Batch job 4: Create 2q image stack...", Batch_job_4__Create_2q_image_stack
Plugins>BL-15A1 XRD, "Setup PILATUS...", Setup_PILATUS
